Repository woowacourse-teams/2022-thankoo, pull requests merged in 2022-09, with the labels that each got.

#367 refactor: 스크립트 설명을 수정한다
  backend/script/deploy.sh
Labels: backend

#359 refactor: 알림 관련 로직을 리팩토링한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackAlarmSender.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackClient.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/dto/SlackUserResponse.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/dto/SlackUsersResponse.java
  backend/src/main/resources/application-test.yml
Labels: backend, refactor

#342 feat: 10시 ~ 19시 30분 사이에 30분 간격으로 수락되지 않은 예약을 취소하는 기능
  backend/src/main/java/com/woowacourse/thankoo/common/logging/LoggingAspect.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/MeetingScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/ReservationScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponTotalResponse.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/ReceivedHeartResponse.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/MeetingService.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservations.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationsTest.java
Labels: feature, backend, refactor

#382 feature: dev-build 추가
  frontend/package.json
Labels: frontend

#376 refactor: 전체 프로젝트에 알람 이벤트를 적용한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/dto/Message.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/CouponMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/HeartMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/ReservationMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponCoffeeMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponMealMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationCanceledMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationRepliedMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationSentMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/domain/Alarm.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/domain/AlarmType.java
  backend/src/main/java/com/woowacourse/thankoo/common/domain/AlarmSpecification.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponContent.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponSentEvent.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupons.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartMessage.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/Heart.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/HeartSentEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationMessage.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationCanceledEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationRepliedEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationSentEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationStatus.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/HeartAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/AlarmServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/MessageFormStrategyFactoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/dto/MessageTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/HeartMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponCoffeeMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponMealMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationCanceledMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationRepliedMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationSentMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/domain/AlarmTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/domain/AlarmTypeTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponContentTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/domain/HeartSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/dto/ReservationMessageTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationCanceledEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationRepliedEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationStatusTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
Labels: feature, backend

#386 feat: 폰트를 바꾼다.
  frontend/public/index.html
  frontend/src/assets/images/Logo_white.svg
  frontend/src/assets/images/Thankoo_Logo.svg
  frontend/src/assets/images/coupons.svg
  frontend/src/components/@shared/LogoWhite.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/styles/GlobalStyled.tsx
Labels: feature, frontend

#402 refactor: 유저 이미지 변경 요청 api가 변경된 것에 따른 프론트엔드 코드 수정
  frontend/src/components/PageButton/CouponListPageButton.tsx
  frontend/src/components/Profile/ProfileUserImage.tsx
  frontend/src/components/Profile/SelectProfileImgModal.tsx
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/Profile/useUserProfile.ts
  frontend/src/pages/UserProfile.tsx
Labels: frontend, refactor

#407 refactor: 쿠폰 API 응답에 쿠폰 생성 날짜 추가
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/MemberCoupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
Labels: backend, refactor

#405 feat: 요청받은 예약을 bottom nav에서 보여주는 기능 구현
  frontend/src/components/PageButton/ReservationPageButton.tsx
  frontend/src/hooks/@queries/reservation.ts
Labels: feature, frontend

#413 refactor: 폰트 다이나믹 서브셋으로 변경
  frontend/public/index.html
  frontend/src/styles/GlobalStyled.tsx
Labels: frontend, refactor

#417 refactor: 쿠폰에 사용되는 이미지 사이즈를 최적화한다.
  frontend/src/assets/images/Thankoo_Logo.svg
  frontend/src/assets/images/coffee_coupon.svg
  frontend/src/assets/images/meal_coupon.svg
  frontend/src/constants/coupon.ts
Labels: frontend, refactor

#423 refactor: 만남 완료 / 만료된 예약 스케줄링시 시간 설정 방식 변경
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/MeetingScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/ReservationScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/MeetingService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
Labels: backend, refactor

#422 feat: 헤더와 바텀 nav의 리렌더링을 막는다.
  frontend/src/components/@shared/Layout/Header.tsx
  frontend/src/components/@shared/Layout/HeaderAndNavLayout.tsx
  frontend/src/components/@shared/Layout/HeaderText.tsx
  frontend/src/components/@shared/Layout/MainPageLayout.tsx
  frontend/src/components/@shared/Layout/PageLayout.tsx
  frontend/src/components/@shared/Spinner.tsx
  frontend/src/components/@shared/noContent/NoMeeting.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/@shared/noContent/NoReservation.tsx
  frontend/src/components/@shared/noContent/NoSendCoupon.tsx
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/Hearts.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/OnFailurePage.tsx
  frontend/src/pages/OnSuccessPage.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/routes/Router.tsx
Labels: feature, frontend

#435 feat: 시리얼 번호로 쿠폰 시리얼을 조회한다.
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/serial.adoc
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/application/AdminQrCodeService.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/application/AdminCouponSerialQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/MemberQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerial.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/SerialCode.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/CouponSerialController.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/dto/CouponSerialResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponSerialAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponSerialAssured.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/presentation/CouponSerialControllerTest.java
Labels: feature, backend

#440 refactor: 대기중인 예약 목록 조회 쿼리 수정
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepository.java
Labels: backend, refactor

#441 refactor: linux 로그 제거
  backend/script/deploy.sh
Labels: backend, refactor

#446 refactor: script 지속되는 버그 수정
  backend/script/deploy.sh
Labels: backend, refactor

#447 refactor: script의 에러를 해결한다.
  backend/script/deploy.sh
Labels: backend

#448 fix: script 오타수정
  backend/script/deploy.sh
Labels: backend

#450 fix: 쿠폰 시리얼의 쿠폰 타입을 소문자로 응답한다.
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/dto/CouponSerialResponse.java
  backend/src/test/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryServiceTest.java
Labels: backend, fix

#453 refactor: coupon을 본인에게 보내는 이슈 해결
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
Labels: backend, refactor

#457 refactor: 오늘의 미팅 알람시 미팅이 당일에 여러개여도 한 번만 보내도록 수정
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackAlarmSender.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/MeetingService.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/Meetings.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Members.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingsTest.java
Labels: backend, refactor

#455 fix: QR 쿠폰 등록과 예약 요청 응답에 대한 성공 실패를 대응한다.
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/@queries/meeting.ts
  frontend/src/hooks/@queries/reservation.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/pages/Main.tsx
  frontend/src/types/index.ts
Labels: frontend, fix

#459 style: 시리얼 관련 코드를 컨벤션에 맞게 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/domain/AdminSerialCodes.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialContentTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialTest.java
Labels: refactor

#468 feat: 예약 페이지에서 예약 요청 응답에 대한 성공 실패 여부 토스트를 띄운다.
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/@queries/reservation.ts
  frontend/src/hooks/Main/useCouponDetail.ts
Labels: feature, frontend

#466 refactor: css 수정
  frontend/src/assets/images/coffee_coupon.svg
  frontend/src/assets/images/meal_coupon.svg
  frontend/src/components/@shared/Layout/Header.tsx
  frontend/src/components/@shared/Modal/BottomSheetLayout.tsx
  frontend/src/components/@shared/PageSlider.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/components/Profile/SelectProfileImgModal.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/constants/coupon.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/pages/Main.tsx
  frontend/src/pages/Reservations.tsx
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.local.js
  frontend/webpack/webpack.noServer.js
  frontend/webpack/webpack.prod.js
Labels: feature, frontend

#470 fix: 모달 두번 뜨는 문제를 해결한다.
  frontend/src/hooks/useQRCoupon.tsx
  frontend/src/pages/Main.tsx
Labels: frontend, fix

#472 fix: 승낙, 거절 후 로컬 스토리지 query 삭제
  frontend/src/components/Main/QRCouponRegisterModal.tsx
Labels: frontend, fix

#474 v1.1.1 배포
  frontend/src/assets/images/coffee_coupon.svg
  frontend/src/assets/images/meal_coupon.svg
  frontend/src/components/@shared/Layout/Header.tsx
  frontend/src/components/@shared/Modal/BottomSheetLayout.tsx
  frontend/src/components/@shared/PageSlider.tsx
  frontend/src/components/@shared/ProfileIcon.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/components/Profile/SelectProfileImgModal.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/constants/coupon.ts
  frontend/src/hooks/@queries/reservation.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/hooks/useQRCoupon.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Reservations.tsx
  frontend/webpack/webpack.common.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.local.js
  frontend/webpack/webpack.noServer.js
  frontend/webpack/webpack.prod.js
Labels: all, fix

#476 fix: qr 코드 등록, 취소 후 리다이렉트가 기록이 남지 않도록 한다.
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/hooks/useQRCoupon.tsx
Labels: frontend, fix

#491 refactor: 출시한 땡쿠 유틸 타입으로 CreatedDate를 수정한다.
  frontend/.pnp.cjs
  frontend/.yarn/cache/thankoo-utils-type-npm-0.1.1-d87249f570-2b94e560fe.zip
  frontend/package.json
  frontend/src/types/date.d.ts
  frontend/src/types/index.ts
  frontend/yarn.lock
Labels: frontend, refactor

#495 fix: 시리얼로 쿠폰을 만들때 타입이 적용되도록 수정
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialService.java
  backend/src/test/java/com/woowacourse/thankoo/serial/application/CouponSerialServiceTest.java
Labels: fix
