Repository woowacourse-teams/2022-thankoo, pull requests merged in 2022-07, with the labels that each got.

#6 feat: SignIn api 구현
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/thankoo/ThankooApplication.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/application/AuthenticationService.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/config/AuthenticationConfig.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/exception/InvalidAuthenticationException.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/exception/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationArgumentResolver.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationContext.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationController.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationPrincipal.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/SignInInterceptor.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/thankoo/common/domain/BaseEntity.java
  backend/src/main/java/com/woowacourse/thankoo/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/MemberRepository.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AuthenticationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/application/AuthenticationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/infrastructure/AuthorizationExtractorTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/infrastructure/JwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/schema.sql
  backend/src/test/resources/truncate.sql
Labels: feature, backend

#8 feat: 쿠폰 발급 / 조회 api 구현
  backend/src/docs/asciidoc/couponHistory.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponHistoryService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/ContentRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponHistory.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponHistoryQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponHistoryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/MemberCouponHistory.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/exception/InvalidCouponTypeException.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponHistoryController.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponContentResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/thankoo/member/exception/InvalidMemberException.java
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/dto/MemberResponse.java
  backend/src/test/java/com/woowacourse/thankoo/ThankooApplicationTests.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AuthenticationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponHistoryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/AuthenticationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/CouponHistoryRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/RestAssuredRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/MockMvcConfig.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/TestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponHistoryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponHistoryQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTypeTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponHistoryControllerTest.java
  backend/src/test/resources/schema.sql
  backend/src/test/resources/truncate.sql
Labels: feature, backend

#10 feat: 회원 전체 조회 api 구현
  backend/src/docs/asciidoc/couponHistory.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/thankoo/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/MemberRepository.java
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AuthenticationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponHistoryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/application/AuthenticationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponHistoryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponHistoryQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponHistoryControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/presentation/MemberControllerTest.java
Labels: feature, backend

#15 feat: cors 설정
  backend/src/main/java/com/woowacourse/thankoo/common/config/WebConfig.java
Labels: feature, backend

#16 feat: ExceptionHandler 추가
  backend/src/main/java/com/woowacourse/thankoo/authentication/exception/InvalidAuthenticationException.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/exception/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/JwtTokenProvider.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationContext.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/SignInInterceptor.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/BadRequestException.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponHistoryService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/exception/InvalidCouponTypeException.java
  backend/src/main/java/com/woowacourse/thankoo/member/exception/InvalidMemberException.java
Labels: feature, backend

#18 feat: 쿠폰 전송 페이지 UI 구현
  frontend/src/App.tsx
  frontend/src/commons/Main/GridViewCoupon.tsx
  frontend/src/commons/SelectReceiver/CheckedUsers.tsx
  frontend/src/commons/SelectReceiver/ListViewUser.tsx
  frontend/src/commons/SelectReceiver/ListViewUsers.tsx
  frontend/src/commons/SelectReceiver/UserSearchInput.tsx
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mainPageHandler.ts
  frontend/src/mocks/selectReceiverPageHandlers.ts
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/SelectReceiver.tsx
Labels: feature, frontend

#21 feat: coupon 디자인 변경
  frontend/src/commons/Main/GridViewCoupon.tsx
  frontend/src/mocks/dummyData.ts
Labels: feature, frontend

#24 refactor: CouponContent 검증 로직 추가
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/ContentRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponContent.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponHistory.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/exception/InvalidCouponContentException.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponContentTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponHistoryQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTypeTest.java
Labels: backend, refactor

#26 refactor: 회원 기본 image 추가
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/dto/MemberResponse.java
  backend/src/main/resources/static/thankoo.png
Labels: backend, refactor

#28 refactor: coupon 관련 Bad Case Test를 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponContent.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponHistoryAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/CouponFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/TestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponHistoryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponContentTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponHistoryQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponHistoryControllerTest.java
Labels: backend, refactor

#31 refactor: 쿠폰을 한 번에 여러명에게 전송하도록 수정한다.
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/docs/asciidoc/couponHistory.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponHistoryService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/MemberCoupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponHistoryResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/MemberRepository.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/CouponRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
  backend/src/test/resources/schema.sql
  backend/src/test/resources/truncate.sql
Labels: backend, refactor

#36 refactor: 스프린트1 리팩터링을 한다.
  frontend/.pnp.cjs
  frontend/.prettierrc
  frontend/.yarn/cache/@emotion-babel-plugin-jsx-pragmatic-npm-0.1.5-515e3ee1a1-b92aafafd3.zip
  frontend/.yarn/cache/@emotion-babel-preset-css-prop-npm-11.2.0-7228ae1598-211fb98cb5.zip
  frontend/babel.config.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Main/CouponTypesNav.tsx
  frontend/src/components/Main/GridViewCoupon.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/SelectReceiver/CheckedUsers.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
  frontend/src/components/SelectReceiver/ListViewUsers.tsx
  frontend/src/components/SelectReceiver/UserSearchInput.tsx
  frontend/src/components/shared/ArrowBackButton.tsx
  frontend/src/components/shared/Body.tsx
  frontend/src/components/shared/Header.tsx
  frontend/src/components/shared/HeaderText.tsx
  frontend/src/components/shared/PageLayout.tsx
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/index.tsx
  frontend/src/mocks/dummyData.ts
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/recoil/atom.ts
  frontend/src/styles/ThemeProvider.tsx
  frontend/src/types/emotion.d.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, refactor

#47 refactor: 여러 사람에게 쿠폰 전송기능 구현
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
Labels: feature, frontend

#41 feat: 쿠폰 상태 (CouponStatus) 추가
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroup.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/MemberCoupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/exception/InvalidCouponStatusException.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/CouponRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/CouponFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroupTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/resources/schema.sql
Labels: feature, backend

#44 refactor: JpaConfig 분리
  backend/src/main/java/com/woowacourse/thankoo/ThankooApplication.java
  backend/src/main/java/com/woowacourse/thankoo/common/config/JpaConfig.java
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/annotations/RepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
Labels: backend, refactor

#45 feat: DataClearExtension 생성
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/support/DataCleaner.java
  backend/src/test/java/com/woowacourse/thankoo/common/support/DataClearExtension.java
  backend/src/test/resources/truncate.sql
Labels: backend, test

#53 feat: 현재 입력된 값에 맞는 단어 목록 보여주는 기능 구현
  frontend/.pnp.cjs
  frontend/.yarn/cache/hangul-js-npm-0.2.6-f0b063efbb-949b62cce2.zip
  frontend/package.json
  frontend/src/components/@shared/ArrowBackButton.tsx
  frontend/src/components/@shared/Header.tsx
  frontend/src/components/@shared/HeaderText.tsx
  frontend/src/components/@shared/PageLayout.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
  frontend/src/components/SelectReceiver/ListViewUsers.tsx
  frontend/src/components/SelectReceiver/UserSearchInput.tsx
  frontend/src/components/shared/Body.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/hooks/useFilterMatchedUser.ts
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/yarn.lock
Labels: feature, frontend

#59 feat: 예약 엔티티를 생성한다.
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/MemberRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationStatus.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/TimeZoneType.java
Labels: feature, chore

#57 feat: 로그인 기능을구현한다
  frontend/.pnp.cjs
  frontend/.prettierrc
  frontend/.yarn/cache/file-loader-npm-6.2.0-4b02fd87d5-faf43eecf2.zip
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@shared/LogoWhite.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/SignIn/useSignIn.ts
  frontend/src/images/Logo_white.svg
  frontend/src/index.tsx
  frontend/src/mocks/authPageHandler.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/SignIn.tsx
  frontend/src/recoil/atom.ts
  frontend/src/styles/mixIn.ts
  frontend/src/types/custom.d.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, frontend

#65 feat: 회원 이름 수정 기능을 추가한다.
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/member/application/MemberService.java
  backend/src/main/java/com/woowacourse/thankoo/member/application/dto/MemberNameRequest.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Email.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/MemberRepository.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Name.java
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/dto/MemberResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/RestAssuredRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/EmailTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/NameTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/presentation/MemberControllerTest.java
Labels: feature, backend

#73 feat: 유저 정보 및 수정 페이지 UI 구현
  frontend/src/App.tsx
  frontend/src/components/@shared/TabsNav.tsx
  frontend/src/components/Main/CouponTypesNav.tsx
  frontend/src/components/Main/GridViewCoupon.tsx
  frontend/src/components/Profile/ProfileUserImage.tsx
  frontend/src/components/RequestedCoupons/ListViewCoupon.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/coupon.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/RequestedCoupons/useRequestedCoupons.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/hooks/SignIn/useSignIn.ts
  frontend/src/mocks/createReservationHandler.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mainPageHandler.ts
  frontend/src/mocks/requestedCouponsHandlers.ts
  frontend/src/mocks/selectReceiverPageHandlers.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/RequestedCoupons.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#69 feat: 보낸 쿠폰 조회 기능을 구현한다.
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/CouponRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
Labels: feature, backend

#67 feat: 예약을 생성한다.
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/exception/InvalidCouponException.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationRequest.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/exception/InvalidReservationException.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
Labels: feature, backend

#74 refactor: 테스트 환경 초기화
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
Labels: backend, refactor

#76 chore: github workflow 수정
  .github/workflows/backend.yml
Labels: chore

#84 test: 예약 전송 RestDocs 문서 생성
  .idea/.gitignore
  .idea/2022-thankoo.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: feature, backend

#82 feat: 요청 받은 약속, 요청한 약속 페이지 UI를 구현한다.
  frontend/src/App.tsx
  frontend/src/components/@shared/ChoiceSlider.tsx
  frontend/src/components/@shared/TabsNav.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/constants/routes.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/reservationsHandlers.ts
  frontend/src/pages/Reservations.tsx
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#94 refactor: CouponContentResponse 쿠폰 타입을 소문자로 변경한다.
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponContentResponse.java
Labels: backend, refactor

#85 feat: 예약 승인/거절 기능을 구현한다.
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroup.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationStatusRequest.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationStatus.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AuthenticationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/CouponRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/ReservationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroupTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationStatusTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: feature, backend

#92 feat: 자동로그인 및 server State 의 recoil 의존 제거
  frontend/src/App.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/googleAuth.ts
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/hooks/SignIn/useSignIn.ts
  frontend/src/mocks/createReservationHandler.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/mainPageHandler.ts
  frontend/src/mocks/sendCouponHandler.ts
  frontend/src/mocks/signInHandler.ts
  frontend/src/pages/SignIn.tsx
  frontend/src/recoil/atom.ts
Labels: feature, frontend

#95 feat: 쿠폰 상세 정보 모달을 구현한다.
  frontend/src/Portal.tsx
  frontend/src/components/@shared/CloseButton.tsx
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/Main/CouponDetails.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Main/ModalWrapper.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/pages/Main.tsx
  frontend/src/recoil/atom.ts
Labels: feature, frontend

#108 feat: design change
  frontend/src/components/@shared/BottomNavBar.tsx
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/Main/CouponDetails.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/pages/Main.tsx
  frontend/src/pages/Reservations.tsx
Labels: feature, frontend

#110 feat: 로그아웃 버튼 구현
  frontend/src/components/@shared/Header.tsx
  frontend/src/components/Profile/SignOutButton.tsx
  frontend/src/components/SelectReceiver/CheckedUsers.tsx
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#112 feat: 쿠폰 보낼 때 보내는 사람 이름 보여주도록 수정
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
Labels: feature, frontend

#99 feat: 본인의 예약을 조회하는 기능
  .gitignore
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponContent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationCoupon.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/dto/ReservationResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/ReservationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationStatusTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: feature, backend

#113 docs: 예약 관련 문서 추가
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: documentation, backend

#115 feat: 예약 페이지 예약 리스트 조회 api를 연동한다.
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/pages/Reservations.tsx
Labels: feature, frontend

#117 refactor: 예약 요청 시 초까지 전송한다.
  frontend/src/components/@shared/PageLayout.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/pages/CreateReservation.tsx
Labels: frontend, fix

#121 refactor: Reservation Time을 분리한다.
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationTime.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTimeTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: backend, refactor

#123 feat: 요청받은 예약 리스트를 보내주는 api를 연동한다.
  frontend/src/components/@shared/BottomNavBar.tsx
  frontend/src/components/@shared/MyPageButton.tsx
  frontend/src/components/@shared/PageLayout.tsx
  frontend/src/components/@shared/ScheduledPageButton.tsx
  frontend/src/components/@shared/SendButton.tsx
  frontend/src/components/Main/CouponDetails.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/mocks/reservationsHandlers.js
  frontend/src/mocks/reservationsHandlers.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/Reservations.tsx
Labels: feature, frontend

#129 feat: 사용안된 쿠폰들 간 우선순위를 부여한다.
  frontend/src/components/Main/CouponDetails.tsx
  frontend/src/components/Main/GridViewCoupon.tsx
  frontend/src/constants/coupon.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/mocks/dummyData.ts
  frontend/src/pages/Reservations.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/types/index.ts
Labels: feature, frontend

#135 fix : 쿠폰 status 타입이 맞지 않아 발생하던 오류를 제거한다.
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/constants/coupon.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/mocks/dummyData.ts
  frontend/src/pages/Reservations.tsx
  frontend/src/types/index.ts
Labels: frontend, fix

#137 feat: 메인 페이지 헤더의 높이를 다른 페이지 헤더와 맞춘다.
  frontend/src/pages/Main.tsx
Labels: feature, frontend

#142 feature: failure page 추가
  frontend/src/App.tsx
  frontend/src/constants/routes.ts
  frontend/src/hooks/useOnFailure.ts
  frontend/src/pages/OnFailurePage.tsx
Labels: feature, frontend

#120 chore: 불필요한 문서를 삭제한다.
  .idea/.gitignore
  .idea/2022-thankoo.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: chore

#150 fix: 쿠폰 수신인 페이지 UI가 깨지던 문제를 해결한다.
  frontend/src/App.tsx
  frontend/src/components/@shared/PageLayout.tsx
  frontend/src/components/SelectReceiver/ListViewUsers.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/SelectReceiver.tsx
Labels: frontend, fix

#151 feat: 선택된 유저 이름 정있게 다 보여주기
  frontend/src/components/SelectReceiver/CheckedUsers.tsx
Labels: feature, frontend

#146 refactor: axios default 설정 및 axios 분리
  frontend/src/apis/axios.ts
  frontend/src/apis/queryClient.ts
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/hooks/SignIn/useSignIn.ts
  frontend/src/images/default_user.jpeg
  frontend/src/index.tsx
  frontend/src/mocks/profileHandlers.js
  frontend/src/pages/UserProfile.tsx
Labels: frontend, refactor

#154 feat: 예약 승인 시 meeting 생성
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/Meeting.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingMember.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingMembers.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingRepository.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/ReservationMeetingService.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservedMeetingCreator.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationRepository.java
  backend/src/test/java/com/woowacourse/thankoo/common/annotations/ApplicationTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fake/FakeReservedMeetingCreator.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingMembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/ReservationMeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
Labels: feature, backend

#156 feat: 쿠폰 보내면 수신인 선택한 전역 상태 초기화
  frontend/src/components/@shared/BottomNavBar.tsx
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/index.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/profileHandlers.js
  frontend/src/mocks/sendCouponHandler.ts
  frontend/src/pages/EnterCouponContent.tsx
Labels: feature, frontend

#155 feat: 최초 로그인 처리 및 회원가입 기능
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/thankoo/authentication/application/AuthenticationService.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/application/dto/SignUpRequest.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/config/AuthenticationConfig.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/GoogleClient.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/dto/GoogleProfileResponse.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/dto/GoogleTokenResponse.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationController.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/thankoo/member/application/MemberService.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AuthenticationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/AuthenticationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/application/AuthenticationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/presentation/AuthenticationControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/presentation/MockOAuthController.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OAuthFixture.java
  backend/src/test/java/com/woowacourse/thankoo/member/application/MemberServiceTest.java
Labels: feature, backend, refactor

#164 chore:환경변수 설정을 테스트한다
  frontend/src/index.tsx
  frontend/webpack.config.js
Labels: feature, chore

#165 chore: jenkins의 환경변수가 어느정도 해주는지 테스트한다.
  frontend/src/index.tsx
Labels: frontend, chore

#166 chore: dotenv가 필요한 것인지 테스트합니다.
  frontend/.pnp.cjs
  frontend/.yarn/cache/dotenv-npm-16.0.1-d99e72bb95-f459ffce07.zip
  frontend/package.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, chore

#168 chore: 실행 환경 별 환경 변수 주입을 달리한다.
  frontend/.gitignore
  frontend/.pnp.cjs
  frontend/.yarn/cache/cross-env-npm-7.0.3-96d81820f4-26f2f3ea2a.zip
  frontend/package.json
  frontend/src/constants/api.ts
  frontend/src/index.tsx
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend, chore

#176 fix: google oauth redirect uri를 https로 변경한다.
  frontend/src/constants/googleAuth.ts
Labels: frontend, fix
