Repository woowacourse-teams/2022-thankoo, pull requests merged in 2022-11, with the labels that each got.

#639 fix: ChoiceSlider의 option을 2개 이상 사용할 때 UI가 깨지는 문제를 해결한다.
  frontend/src/components/@shared/ChoiceSlider.tsx
  frontend/src/pages/Reservations/components/ListReservationItem.tsx
  frontend/src/pages/Reservations/hooks/useListReservationItem.ts
  frontend/src/utils/date.ts
Labels: frontend, refactor, fix

#637 refactor: 스케줄, 쿠폰, 마음에 대한 로그 정보를 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/AlarmService.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/MeetingScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/ReservationScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponContentResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponTotalResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponUseRequest.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartResponse.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
Labels: backend, refactor

#629 refactor: 다양한 접근에 대한 redirect를 처리하는 과정의 가독성을 높인다.
  frontend/src/apis/axios.ts
  frontend/src/hooks/@queries/coupon.ts
  frontend/src/hooks/@queries/hearts.ts
  frontend/src/hooks/@queries/organization.ts
  frontend/src/layout/HeaderAndNavLayout.tsx
  frontend/src/pages/CreateReservation/CreateReservation.tsx
  frontend/src/pages/CreateReservation/hooks/useCreateReservation.ts
  frontend/src/pages/Main/components/QRCouponRegisterModal.tsx
  frontend/src/pages/Main/hooks/useCouponDetail.ts
  frontend/src/pages/Organization/components/OrganizationsDropdown.tsx
  frontend/src/pages/Organization/hooks/useOrganizationsDropdown.ts
  frontend/src/routes/AccessController.tsx
  frontend/src/routes/AuthChecker.tsx
  frontend/src/routes/OrganizationInjector.tsx
  frontend/src/routes/OrganizationRedirector.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/api.ts
Labels: frontend, refactor

#643 refactor : Avatar와 ListRow를 구현하고 변경사항을 적용한다.
  frontend/src/components/@shared/CouponLayout.tsx
  frontend/src/components/@shared/Modal/ModalWrapper.tsx
  frontend/src/components/@shared/ProfileIcon.tsx
  frontend/src/components/@shared/UserProfileButton.tsx
  frontend/src/components/Avatar.tsx
  frontend/src/components/ListRow.tsx
  frontend/src/constants/profileIcon.ts
  frontend/src/hooks/useFilterMatchedUser.ts
  frontend/src/layout/TopNavBar.tsx
  frontend/src/pages/Hearts/Hearts.tsx
  frontend/src/pages/Hearts/components/ListViewHeart.tsx
  frontend/src/pages/Hearts/components/ListViewHeartSkeleton.tsx
  frontend/src/pages/Hearts/components/ListViewHearts.tsx
  frontend/src/pages/Hearts/hooks/useHeartsMembers.tsx
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/Main/components/CouponDetail.reservation.tsx
  frontend/src/pages/Main/hooks/useCouponDetail.ts
  frontend/src/pages/Profile/components/ProfileUserImage.tsx
  frontend/src/pages/Profile/components/SelectProfileImgModal.tsx
  frontend/src/pages/Reservations/components/ListReservationItem.tsx
  frontend/src/pages/Reservations/components/ListViewReservation.tsx
  frontend/src/pages/Reservations/components/ListViewReservationInfo.tsx
  frontend/src/pages/Reservations/components/ListViewReservations.tsx
  frontend/src/pages/Reservations/hooks/useListReservation.ts
  frontend/src/pages/SelectReceiver/SelectReceiver.tsx
  frontend/src/pages/SelectReceiver/components/CheckedUsers.tsx
  frontend/src/pages/SelectReceiver/components/ListViewUser.tsx
  frontend/src/pages/SelectReceiver/components/ListViewUsers.tsx
  frontend/src/pages/SelectReceiver/hooks/useListViewUsers.ts
  frontend/src/types/coupon.ts
Labels: feature, refactor
