Repository woowacourse-teams/2022-thankoo, pull requests merged in 2022-08, with the labels that each got.

#179 fix: form의 버튼을 하나만 둬서 enter로 submit 가능하도록 수정한다.
  frontend/src/components/@shared/Input.tsx
  frontend/src/components/@shared/TabsNav.tsx
  frontend/src/pages/EnterNickname.tsx
Labels: frontend, fix

#183 feat: 단건 조회에 대한 api를 연동한다.
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/Main/ConponDetails.notUsed.tsx
  frontend/src/components/Main/CouponDetails.reserve.tsx
  frontend/src/components/Main/CouponDetails.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/mocks/dummyData.ts
  frontend/src/mocks/mainPageHandler.ts
  frontend/src/types/index.ts
Labels: feature, frontend

#185 Feature/detail reservation
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/Main/ConponDetails.notUsed.tsx
  frontend/src/components/Main/CouponDetails.tsx
  frontend/src/hooks/Main/useCouponDetail.ts
Labels: feature, frontend

#191 refactor : axios instance를 리팩토링한다.
  frontend/src/apis/axios.ts
  frontend/src/components/Main/CouponDetails.reserve.tsx
  frontend/src/components/Profile/SignOutButton.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/EnterNickname/useEnterNickname.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/hooks/SignIn/useSignIn.ts
  frontend/src/pages/UserProfile.tsx
  frontend/src/utils/auth.ts
Labels: frontend, refactor

#192 feat: 보낸 쿠폰함 구현
  frontend/src/components/@shared/HeaderText.tsx
  frontend/src/hooks/Main/useMain.ts
  frontend/src/pages/Main.tsx
Labels: feature, frontend

#193 refactor: 메인 페이지 쿠폰 순서를 조정한다.
  frontend/src/apis/queryClient.ts
  frontend/src/hooks/Main/useMain.ts
Labels: frontend, refactor

#203 feat: 쿠폰 디테일 페이지를 수정한다
  frontend/src/components/@shared/Header.tsx
  frontend/src/components/Main/ConponDetail.notUsed.tsx
  frontend/src/components/Main/CouponDetail.reserve.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/index.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/styles/GlobalStyled.tsx
Labels: feature, frontend

#204 refactor: 반환 값에 소문자, 날짜 포맷을 수정한다.
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/docs/asciidoc/meeting.adoc
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/dto/TimeResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponContentResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/dto/ReservationResponse.java
Labels: backend, refactor

#206 feat: 예약 취소 기능을 구현한다.
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ForbiddenException.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/Meeting.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationStatus.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/ReservationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: feature, backend

#208 Fix: Coupon detail 버튼과 slide가 동기화가 잘 안되는 버그 수정
  frontend/src/hooks/Main/useCouponDetail.ts
Labels: frontend, fix

#201 feat: 하루 지난 미팅을 완료 처리한다.
  backend/src/main/java/com/woowacourse/thankoo/common/config/ScheduleConfig.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/MeetingScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponRepository.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingRepository.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingRepositoryTest.java
Labels: feature, backend

#209 refactor: 쿠폰 단건 조회에 예약, 미팅 정보를 함께 보낸다.
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/dto/TimeResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/infrastructure/CouponClient.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/infrastructure/TimeClient.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/MeetingQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingMembers.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingRepository.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/MeetingController.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/dto/SimpleMeetingResponse.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationCoupon.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/dto/SimpleReservationResponse.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/infrastructure/CouponClientTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/presentation/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: backend, refactor, all

#216 test: 인수테스트 가독성을 개선한다.
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/MeetingController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AuthenticationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/AuthenticationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MeetingAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MemberAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/ReservationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/common/RequestBuilder.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/common/ResponseBuilder.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/AuthenticationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/CouponRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/MeetingRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/support/fixtures/ReservationRequestFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/ReservationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/presentation/MeetingControllerTest.java
Labels: backend, test

#222 refactor: MeetingTime을 웹 요청에서 검증한다.
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/common/validator/MeetingTimeRequestValidator.java
  backend/src/main/java/com/woowacourse/thankoo/common/validator/annotations/ValidMeetingTime.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingTime.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationRequest.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/ReservationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingTimeTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: backend, refactor

#220 feat: 예약 생성 페이지를 이쁘게 꾸몄다.
  frontend/src/components/@shared/Time.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/Main.tsx
Labels: feature, frontend

#224 refactor: MeetingTime에 연도 차이가 있을 경우 예외가 발생한다
  backend/src/main/java/com/woowacourse/thankoo/common/validator/MeetingTimeRequestValidator.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/ReservationAssured.java
Labels: backend, refactor

#227 feat: 쿠폰 상태, 쿠폰함의 상태에 따라 쿠폰 디테일의 버튼 변경 및 상호작용 변경
  frontend/package.json
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/constants/coupon.ts
  frontend/src/hooks/Main/domain/useCouponDetail.ts
  frontend/src/hooks/Reservations/queries/reservations.ts
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#228 feature: toast ui
  frontend/src/App.tsx
  frontend/src/components/@shared/Toast.tsx
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/hooks/useToast.ts
  frontend/src/recoil/atom.ts
  frontend/src/routes/Router.tsx
Labels: feature, frontend

#230 feature: 빈페이지 ui를 추가한다
  frontend/src/assets/images/Empty_List_Logo.svg
  frontend/src/components/@shared/EmptyContent.tsx
  frontend/src/components/@shared/HeaderText.tsx
  frontend/src/components/@shared/LogoEmptyList.tsx
Labels: feature, frontend

#234 fix: 버그 픽스
  frontend/src/components/@shared/ChoiceSlider.tsx
  frontend/src/components/@shared/Time.tsx
  frontend/src/components/@shared/Toast.tsx
  frontend/src/components/Profile/ProfileUserImage.tsx
  frontend/src/components/Profile/SignOutButton.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/Main/domain/useCouponDetail.ts
  frontend/src/hooks/Main/queries/couponDetail.ts
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/hooks/Reservations/queries/reservations.ts
  frontend/src/hooks/useToast.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/recoil/atom.ts
Labels: bug, frontend, fix

#235 fix: 사파리 버그 수정
  frontend/src/hooks/Meetings/domain/useMeetings.ts
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/styles/GlobalReset.tsx
Labels: frontend, fix

#239 refactor: 로깅 전략을 수정한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/thankoo/authentication/application/dto/SignUpRequest.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/SignInInterceptor.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/presentation/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/common/logging/LoggingAspect.java
  backend/src/main/java/com/woowacourse/thankoo/common/logging/MaskingUtil.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/ContentRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponContentResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponDetailResponse.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/dto/SimpleMeetingResponse.java
  backend/src/main/java/com/woowacourse/thankoo/member/application/dto/MemberNameRequest.java
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/dto/MemberResponse.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationRequest.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationStatusRequest.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/dto/SimpleReservationResponse.java
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback/console-access-logger.xml
  backend/src/main/resources/logback/file-access-logger.xml
Labels: feature, backend

#249 feat: 주고, 받은 쿠폰 개수 api 구현
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponTotal.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponTotalResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
Labels: feature, backend

#246 feat: Bottom Navbar 디자인을 수정한다.
  frontend/src/apis/queryClient.ts
  frontend/src/assets/images/coupons.svg
  frontend/src/components/@shared/PageLayout.tsx
  frontend/src/components/@shared/UserProfileButton.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/PageButton/BottomNavBar.tsx
  frontend/src/components/PageButton/CouponListPageButton.tsx
  frontend/src/components/PageButton/MyPageButton.tsx
  frontend/src/components/PageButton/ReservationPageButton.tsx
  frontend/src/components/PageButton/ScheduledPageButton.tsx
  frontend/src/constants/googleAuth.ts
  frontend/src/hooks/Profile/domain/useProfile.ts
  frontend/src/hooks/Profile/queries/profile.ts
  frontend/src/pages/Main.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/routes/Router.tsx
  frontend/src/styles/mixIn.ts
Labels: feature, frontend

#247 feat: Toast bar UI를 기깔나게 구현한다.
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/Portal.tsx
  frontend/src/components/@shared/Toast.tsx
  frontend/src/components/@shared/toast/Toast.tsx
  frontend/src/components/@shared/toast/ToastItem.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/Main/domain/useCouponDetail.ts
  frontend/src/hooks/Profile/domain/useProfile.ts
  frontend/src/hooks/useToast.ts
  frontend/src/recoil/atom.ts
Labels: feature, frontend

#253 feat: 빈 페이지 ui 개선 및 선물하기로 유도
  frontend/src/components/@shared/noContent/EmptyContent.tsx
  frontend/src/components/@shared/noContent/NoMeeting.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/@shared/noContent/NoReservation copy.tsx
  frontend/src/components/@shared/noContent/NoSendCoupon.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/Reservations.tsx
Labels: feature, frontend

#256 feat: 유저 쿠폰 주고받은 정보를 구현한다
  frontend/src/apis/fetcher/profile.ts
  frontend/src/components/@shared/UserProfileButton.tsx
  frontend/src/components/PageButton/ReservationPageButton.tsx
  frontend/src/components/PageButton/ScheduledPageButton.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/Profile/queries/profile.ts
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#267 feat: 글자수 제한
  frontend/src/components/@shared/Input.tsx
  frontend/src/constants/coupon.ts
  frontend/src/constants/users.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#265 chore: Sonarqube 와 Jacoco 적용
  .github/workflows/sonarqube.yml
  backend/build.gradle
Labels: backend, chore

#270 refactor: 알람 관련 기능을 리팩터링한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/exception/InvalidAlarmException.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/InMemorySlackUserRepository.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackAlarmSender.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackClient.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackUserMapper.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/dto/SlackUserResponse.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/support/AlarmManager.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/common/schedule/MeetingScheduleTask.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupons.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/MeetingService.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/Meetings.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Members.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/infrastructure/InMemorySlackUserRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/infrastructure/SlackUserFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/annotations/ApplicationTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/support/AlarmThreadClearExtension.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponsTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingsTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
Labels: backend, refactor

#279 chore: 깃헙 액션 flow를 수정한다
  .github/workflows/backend.yml
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
Labels: backend, chore

#283 feat: 알람용 messageFormatter 생성
  backend/src/main/java/com/woowacourse/thankoo/alarm/support/MessageFormatter.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/support/MessageFormatterTest.java
Labels: feature, backend

#280 Fix/display
  frontend/src/App.tsx
  frontend/src/components/@shared/Time.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/PageButton/BottomNavBar.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
Labels: frontend, fix

#291 feat: 모달창 마운트, 언마운트시 애니메이션 장착
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/constants/modal.ts
  frontend/src/hooks/useModal.ts
Labels: feature, frontend

#303 feat: 메인 페이지 받은, 보낸 쿠폰함 한번에 보이기
  frontend/src/components/@shared/HeaderText.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/@shared/noContent/NoReservation copy.tsx
  frontend/src/components/@shared/noContent/NoSendCoupon.tsx
  frontend/src/hooks/Main/queries/coupons.ts
  frontend/src/pages/Main.tsx
Labels: feature, frontend

#287 feat: 모든 받은 쿠폰 조회 기능
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroup.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/CouponFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroupTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingQueryRepositoryTest.java
Labels: feature, backend

#285 refactor: sonarqube 코드 스멜을 리팩터링한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/support/AlarmManager.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/support/MessageFormatter.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/exception/GoogleClientException.java
  backend/src/main/java/com/woowacourse/thankoo/authentication/infrastructure/GoogleClient.java
  backend/src/main/java/com/woowacourse/thankoo/common/logging/MaskingUtil.java
  backend/src/main/java/com/woowacourse/thankoo/common/validator/MeetingTimeRequestValidator.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/infrastructure/integrate/dto/MeetingResponse.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingMembers.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingRepository.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/Meetings.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Email.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationRequest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/authentication/infrastructure/AuthorizationExtractorTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
Labels: backend, refactor

#321 fix: QA 중 나온 오류를 해결한다.
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
Labels: frontend, fix

#314 feat: 모든 쿠폰 이력 보기 버튼 추가
  frontend/src/components/@shared/Time.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/Main/domain/useCouponDetail.ts
  frontend/src/hooks/Main/domain/useMain.ts
  frontend/src/hooks/Main/queries/coupons.ts
  frontend/src/hooks/Profile/useProfile.ts
  frontend/src/pages/Main.tsx
  frontend/src/utils/index.ts
Labels: feature, frontend

#323 fix: 2차 QA
  frontend/src/App.tsx
  frontend/src/components/@shared/ArrowBackButton.tsx
  frontend/src/components/@shared/CouponLayout.tsx
  frontend/src/components/@shared/Header.tsx
  frontend/src/components/@shared/HeaderText.tsx
  frontend/src/components/@shared/Input.tsx
  frontend/src/components/@shared/PageLayout.tsx
  frontend/src/components/@shared/Time.tsx
  frontend/src/components/@shared/UserProfileButton.tsx
  frontend/src/components/@shared/noContent/NoMeeting.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/@shared/noContent/NoReservation copy.tsx
  frontend/src/components/@shared/noContent/NoSendCoupon.tsx
  frontend/src/components/@shared/toast/Toast.tsx
  frontend/src/components/@shared/toast/ToastItem.tsx
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/GridViewCoupon.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/PageButton/BottomNavBar.tsx
  frontend/src/components/PageButton/CouponListPageButton.tsx
  frontend/src/components/PageButton/ReservationPageButton.tsx
  frontend/src/components/PageButton/ScheduledPageButton.tsx
  frontend/src/components/Profile/ProfileUserImage.tsx
  frontend/src/components/SelectReceiver/CheckedUsers.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
  frontend/src/components/SelectReceiver/ListViewUsers.tsx
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/styles/Animation.ts
  frontend/src/styles/GlobalStyled.tsx
Labels: frontend, fix

#329 refactor: 에러 응답 body를 info 로그를 남긴다
  backend/src/main/java/com/woowacourse/thankoo/common/exception/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/thankoo/common/logging/LoggingAspect.java
Labels: backend, refactor

#331 refactor: 이름, 쿠폰 내용 앞/뒤 공백 제거
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponContent.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Name.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponContentTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/NameTest.java
Labels: backend, refactor

#338 feat: 프로필 변경 기능
  frontend/src/components/@shared/ProfileIcon.tsx
  frontend/src/components/@shared/UserProfileButton.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Profile/ProfileUserImage.tsx
  frontend/src/components/Profile/SelectProfileImgModal.tsx
  frontend/src/components/SelectReceiver/CheckedUsers.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/profileIcon.ts
  frontend/src/hooks/Profile/useUserProfile.ts
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#340 feat: QA 중 나온 에러 수정
  frontend/src/apis/queryClient.ts
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
  frontend/src/hooks/Main/domain/useCouponDetail.ts
  frontend/src/hooks/Reservations/queries/reservations.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/recoil/atom.ts
Labels: feature, frontend, fix

#326 refactor: 슬랙 메시지를 한글로 전송한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackAlarmSender.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/SlackUserMapper.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/infrastructure/dto/Attachments.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/support/Message.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponMessage.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/dto/MeetingMessage.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/dto/ReservationMessage.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/infrastructure/SlackUserFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/CouponFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/dto/CouponMessageTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/dto/ReservationMessageTest.java
Labels: backend, refactor

#337 refactor: 소나큐브 설정 수정
  .github/workflows/backend.yml
  .github/workflows/sonarqube.yml
  backend/build.gradle
Labels: backend, refactor

#346 fix: input 입력 글자 trim 넣어서 판단
  frontend/src/components/@shared/toast/Toast.tsx
  frontend/src/components/@shared/toast/ToastItem.tsx
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Profile/useUserProfile.ts
  frontend/src/hooks/useToast.ts
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/Meetings.tsx
Labels: frontend, fix

#345 refactor: 마음 보내기 알림 추가
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartMessage.java
Labels: backend

#347 fix: emptylist 반환
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartMessage.java
Labels: backend, fix

#349 fix: 마음 페이지 검색 기능 추가
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/hooks/Reservations/queries/reservations.ts
  frontend/src/pages/Hearts.tsx
Labels: feature, frontend, fix

#353 docs: README.md 수정
  README.md
Labels: all
