Repository woowacourse-teams/2022-thankoo, pull requests merged in 2022-10, with the labels that each got.

#502 feat: 쿠폰 즉시 사용 기능을 구현한다.
  frontend/src/apis/axios.ts
  frontend/src/components/@shared/PageSlider.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/@queries/coupon.ts
  frontend/src/hooks/@queries/reservation.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/recoil/atom.ts
  frontend/src/types/index.ts
Labels: feature, frontend

#496 feat: 쿠폰을 즉시 사용한다.
  backend/src/docs/asciidoc/coupon.adoc
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/presentation/AdminQrCodeController.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponUsedEvent.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationEventListener.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/Reservation.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
Labels: feature

#507 fix: main 페이지 하단에 짤리는 부분이 없도록 한다.
  frontend/src/components/@shared/Layout/PageLayout.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/pages/Main.tsx
Labels: frontend, fix

#500 feat: Organization 엔티티를 생성한다.
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/CodeGenerator.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/Organization.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationCode.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMember.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMembers.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationName.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationValidator.java
  backend/src/main/java/com/woowacourse/thankoo/organization/exception/InvalidOrganizationException.java
  backend/src/main/java/com/woowacourse/thankoo/organization/infrastructure/OrganizationCodeGenerator.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/AlarmFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/CouponFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OAuthFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OrganizationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/ReservationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/SerialFixture.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationCodeTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationNameTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationValidatorTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/infrastructure/FakeCodeGenerator.java
  backend/src/test/java/com/woowacourse/thankoo/organization/infrastructure/OrganizationCodeGeneratorTest.java
Labels: feature, backend

#505 chore: 무중단 배포 스크립트를 작성한다.
  backend/script/deploy-nonstop.sh
  backend/script/nginx-conf.sh
Labels: chore

#510 Fix: 즉시 사용된 쿠폰에 대한 단건 조회가 가능하도록 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponImmediatelyUsedEvent.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatus.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponStatusGroup.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationEventListener.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/CouponFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponStatusTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
Labels: feature

#513 feat: 내 조직 조회 / 조직 참여 기능 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/organization.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/organization/application/OrganizationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/organization/application/OrganizationService.java
  backend/src/main/java/com/woowacourse/thankoo/organization/application/dto/OrganizationJoinRequest.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/MemberOrganization.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/Organization.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMember.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMembers.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/OrganizationController.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/dto/OrganizationResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/OrganizationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/OrganizationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/common/ControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OrganizationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/organization/application/OrganizationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/application/OrganizationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationNameTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationValidatorTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/presentation/OrganizationControllerTest.java
Labels: feature, backend

#527 feat: 쿠폰 즉시 사용 api 연동
  frontend/src/components/@shared/ConditionalViewer.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/hooks/@queries/meeting.ts
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/Meetings/useMeetings.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/types/coupon.ts
  frontend/src/types/meeting.ts
  frontend/src/utils/date.ts
Labels: feature, frontend

#525 refactor: Coupon에 organization id를 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/domain/AdminOrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupon.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialService.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerialMember.java
  backend/src/test/java/com/woowacourse/thankoo/admin/coupon/application/AdminCouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/coupon/application/AdminCouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/coupon/domain/AdminCouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/coupon/domain/AdminCouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/coupon/infrastructure/AdminCouponMeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/coupon/infrastructure/AdminCouponReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/meeting/domain/AdminMeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/reservation/domain/AdminReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OrganizationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponsTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/infrastructure/integrate/JpaMeetingProviderTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/infrastructure/integrate/JpaReservationProviderTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingsTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/ReservationMeetingQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/ReservationMeetingServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationCanceledEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationRepliedEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationsTest.java
Labels: backend, refactor

#530 refactor: Heart 기능에 Organization 기능을 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartSendRequest.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/Heart.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/HeartRepository.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/HeartController.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartRequest.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/Organization.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMember.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMembers.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationRepository.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/HeartAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/HeartAssured.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OrganizationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/heart/application/HeartServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/domain/HeartRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/domain/HeartSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/domain/HeartTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/presentation/HeartControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationTest.java
Labels: backend, refactor

#528 refactor: 타입 관련 리팩터링 그리고 날짜 관련 오류를 수정한다.
  frontend/src/components/@shared/ConditionalViewer.tsx
  frontend/src/components/@shared/Modal/BottomSheetLayout.tsx
  frontend/src/components/@shared/toast/ToastItem.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/ConponDetail.coupon.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/GridViewCoupon.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/Reservation.tsx
  frontend/src/components/SelectReceiver/CheckedUsers.tsx
  frontend/src/components/SelectReceiver/ListViewUser.tsx
  frontend/src/components/SelectReceiver/ListViewUsers.tsx
  frontend/src/constants/coupon.ts
  frontend/src/hooks/@queries/coupon.ts
  frontend/src/hooks/@queries/meeting.ts
  frontend/src/hooks/@queries/members.ts
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/@queries/reservation.ts
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/Meetings/useMeetings.ts
  frontend/src/hooks/Profile/useUserProfile.ts
  frontend/src/hooks/Reservations/useReservation.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/hooks/useQRCoupon.tsx
  frontend/src/mocks/dummyData.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/recoil/atom.ts
  frontend/src/types/api.ts
  frontend/src/types/coupon.ts
  frontend/src/types/index.ts
  frontend/src/types/meeting.ts
  frontend/src/types/reservation.ts
  frontend/src/types/user.ts
  frontend/src/utils/date.ts
Labels: frontend, refactor, fix

#533 refactor: Coupon Serial 기능에 Organization 기능을 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/admin/common/exception/AdminErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/domain/AdminOrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/exception/AdminInvalidOrganizationException.java
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/application/AdminQrCodeService.java
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/presentation/AdminQrCodeController.java
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/presentation/dto/AdminSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/application/AdminCouponSerialService.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/application/dto/AdminCouponSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialRepository.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/infrastructure/AdminRandomStringCodeCreator.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/presentation/dto/AdminCouponSerialResponse.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialService.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/dto/CouponSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/dto/SerialCodeRequest.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerial.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerialMember.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerialQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/CouponSerialController.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/dto/CouponSerialResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponSerialAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponSerialAssured.java
  backend/src/test/java/com/woowacourse/thankoo/admin/common/qrcode/presentation/AdminQrCodeControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/qrcode/application/AdminQrCodeServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/application/AdminCouponSerialQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/application/AdminCouponSerialServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/presentation/AdminCouponSerialControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/application/CouponSerialServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/presentation/CouponSerialControllerTest.java
Labels: backend, refactor

#539 refactor: Button 컴포넌트 생성
  frontend/src/components/@shared/Button.tsx
  frontend/src/components/@shared/LongButton.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/@shared/noContent/NoSendCoupon.tsx
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/components/Profile/SelectProfileImgModal.tsx
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/Organization.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/types/coupon.ts
Labels: frontend, refactor

#538 refactor: 예약과 미팅 조회에서 organization을 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/MeetingQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/dto/MeetingQueryCondition.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/MeetingQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/MeetingController.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/application/ReservationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MeetingAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/ReservationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/application/MeetingQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/domain/MeetingQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/presentation/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: backend, refactor

#542 feat: 어드민에서 조직을 생성하는 API를 구현한다.
  backend/src/docs/asciidoc/admin.adoc
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/application/AdminOrganizationService.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/application/dto/AdminOrganizationCreationRequest.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/domain/AdminOrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/presentaion/AdminOrganizationController.java
  backend/src/test/java/com/woowacourse/thankoo/admin/common/AdminControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/organization/application/AdminOrganizationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/organization/presentaion/AdminOrganizationControllerTest.java
Labels: feature, admin

#541 refactor: 슬랙 알람을 전송할 때 조직 링크가 포함되도록 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/HeartMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponCoffeeMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponMealMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationCanceledMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationRepliedMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationSentMessageFormStrategy.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/domain/Alarm.java
  backend/src/main/java/com/woowacourse/thankoo/common/domain/AlarmSpecification.java
  backend/src/main/java/com/woowacourse/thankoo/common/dto/AlarmEvent.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponSentEvent.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/Coupons.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/HeartSentEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationCanceledEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationRepliedEvent.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/domain/ReservationSentEvent.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/AlarmServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/dto/MessageTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/HeartMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponCoffeeMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/coupon/CouponMealMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationCanceledMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationRepliedMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/strategy/reservation/ReservationSentMessageFormStrategyTest.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/domain/AlarmTest.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/AlarmFixture.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/domain/CouponsTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/domain/HeartSentEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationCanceledEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationRepliedEventTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/domain/ReservationSentEventTest.java
Labels: refactor

#544 feat: 조직 변경시 최근 접근 조직을 변경한다.
  backend/src/docs/asciidoc/organization.adoc
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/Heart.java
  backend/src/main/java/com/woowacourse/thankoo/organization/application/OrganizationService.java
  backend/src/main/java/com/woowacourse/thankoo/organization/application/dto/OrganizationJoinRequest.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/Organization.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationCode.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMember.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMembers.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/OrganizationController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/OrganizationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/OrganizationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/OrganizationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/organization/application/OrganizationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/application/OrganizationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/presentation/OrganizationControllerTest.java
Labels: feature, backend

#550 test: Jenkins 에서 실패하는 테스트케이스를 @Disabled 처리한다.
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/application/AdminCouponSerialQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialQueryRepositoryTest.java
Labels: backend, test

#514 refactor: 회원 관련 테스트 추가 및 리팩토링을 한다.
  backend/src/main/java/com/woowacourse/thankoo/common/exception/ErrorType.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/domain/Meeting.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Email.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Member.java
  backend/src/main/java/com/woowacourse/thankoo/member/domain/Name.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/AuthenticationFixture.java
  backend/src/test/java/com/woowacourse/thankoo/common/fixtures/MemberFixture.java
  backend/src/test/java/com/woowacourse/thankoo/member/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/EmailTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/MembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/domain/NameTest.java
  backend/src/test/java/com/woowacourse/thankoo/member/presentation/MemberControllerTest.java
Labels: backend

#548 feat: 어드민 API 예외를 핸들링한다.
  backend/src/main/java/com/woowacourse/thankoo/admin/common/exception/AdminControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/admin/common/exception/dto/AdminErrorResponse.java
Labels: feature, admin

#553 feat: 각 ControllerAdvice가 처리할 basePackage 를 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/admin/common/exception/AdminControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
Labels: feature, backend, admin

#560 refactor: 쿠폰 관련 기능에 조직 api 명세를 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/ContentRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponUseCommand.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponUseRequest.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/MeetingController.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MeetingAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MemberAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/ReservationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/presentation/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
Labels: backend, refactor

#555 feat: 코드로 조직을 조회한다.
  backend/src/docs/asciidoc/organization.adoc
  backend/src/main/java/com/woowacourse/thankoo/organization/application/OrganizationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/SimpleOrganization.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/OrganizationController.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/dto/SimpleOrganizationResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/OrganizationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/OrganizationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/organization/application/OrganizationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/presentation/OrganizationControllerTest.java
Labels: feature

#562 refactor: 마음, 쿠폰 시리얼 관련 기능에 조직 api 명세를 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/dto/Message.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartSendCommand.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/HeartController.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartRequest.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/CouponSerialController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponSerialAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/HeartAssured.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/dto/MessageTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/application/HeartServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/presentation/HeartControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/presentation/CouponSerialControllerTest.java
Labels: backend, refactor

#566 조직이 포함된 API 명세를 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/dto/Message.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/CouponService.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/ContentRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponRequest.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponUseCommand.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/CouponController.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponUseRequest.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartSendCommand.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/HeartController.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartRequest.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/presentation/MeetingController.java
  backend/src/main/java/com/woowacourse/thankoo/reservation/presentation/ReservationController.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/CouponSerialController.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MeetingAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/ReservationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponSerialAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/HeartAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MeetingAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MemberAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/ReservationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/alarm/application/dto/MessageTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/application/CouponServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/application/HeartServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/presentation/HeartControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/meeting/presentation/MeetingControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/application/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/reservation/presentation/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/presentation/CouponSerialControllerTest.java
Labels: refactor

#559 feat: 조직 내 회원을 조회한다.
  backend/src/docs/asciidoc/organization.adoc
  backend/src/main/java/com/woowacourse/thankoo/member/presentation/MemberController.java
  backend/src/main/java/com/woowacourse/thankoo/organization/application/OrganizationQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/MemberModel.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationMembers.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/OrganizationController.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/dto/OrganizationMemberResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/OrganizationAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/MemberAssured.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/OrganizationAssured.java
  backend/src/test/java/com/woowacourse/thankoo/member/presentation/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/application/OrganizationQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationMembersTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/organization/presentation/OrganizationControllerTest.java
Labels: refactor

#565 feat: 조직 조회 API를 만든다.
  backend/src/docs/asciidoc/admin.adoc
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/application/AdminOrganizationService.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/application/dto/AdminGetOrganizationsRequest.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/domain/AdminOrganizationRepository.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/presentaion/AdminOrganizationController.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/presentaion/dto/AdminGetOrganizationResponse.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/ContentCommand.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponCommand.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerialQueryRepository.java
  backend/src/test/java/com/woowacourse/thankoo/admin/common/AdminControllerTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/organization/application/AdminOrganizationServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/organization/domain/AdminOrganizationRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/organization/presentaion/AdminOrganizationControllerTest.java
Labels: feature, admin

#568 feat: 프론트엔드에서 조직을 구현한다.
  frontend/src/apis/axios.ts
  frontend/src/apis/queryClient.ts
  frontend/src/assets/svg/google-color-icon.svg
  frontend/src/components/@shared/Button.tsx
  frontend/src/components/@shared/Dimmer.tsx
  frontend/src/components/@shared/Dropdown.tsx
  frontend/src/components/@shared/Input.tsx
  frontend/src/components/@shared/LongButton.tsx
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/@shared/noContent/NoReceivedCoupon.tsx
  frontend/src/components/@shared/noContent/NoSendCoupon.tsx
  frontend/src/components/CreateReservation/ConfirmReservationModal.tsx
  frontend/src/components/CreateReservation/CreateReservationSuccess.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/EnterCouponContent/EnterCouponContentSuccess.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/components/Organization/OrganizationsDropdown.tsx
  frontend/src/components/Profile/SelectProfileImgModal.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/@queries/organization.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Main/useCouponDetail.ts
  frontend/src/hooks/Organization/useOrganizationsDropdown.ts
  frontend/src/layout/BottomNavBar.tsx
  frontend/src/layout/HeaderAndNavLayout.tsx
  frontend/src/layout/TopNavBar.tsx
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/EnterNickname.tsx
  frontend/src/pages/Organization.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/routes/AccessController.tsx
  frontend/src/routes/Router.tsx
  frontend/src/types/api.ts
  frontend/src/types/coupon.ts
  frontend/src/utils/api.ts
Labels: feature, frontend

#575 refactor: 모달 여는 로직을 선언적으로 추상화한다.
  frontend/src/components/@shared/Dimmer.tsx
  frontend/src/components/@shared/Modal/ModalWrapper.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Profile/ProfileUserImage.tsx
  frontend/src/pages/CreateReservation.tsx
  frontend/src/pages/EnterCouponContent.tsx
Labels: frontend, refactor

#577 fix: 요청 url query를 인식하지 못하는 문제를 해결한다
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/application/AdminOrganizationService.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/application/dto/AdminGetOrganizationsRequest.java
  backend/src/main/java/com/woowacourse/thankoo/admin/organization/domain/AdminOrganizationRepository.java
  backend/src/test/java/com/woowacourse/thankoo/admin/organization/application/AdminOrganizationServiceTest.java
Labels: bug, backend, admin

#573 refactor: 조직이 다르다면 똑같은 회원에게 마음을 보낼 수 있도록 수정한다.
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/domain/HeartRepository.java
  backend/src/test/java/com/woowacourse/thankoo/heart/application/HeartServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/heart/domain/HeartRepositoryTest.java
Labels: backend, refactor

#579 fix: 잘못된 쿼리 수정
  backend/src/main/java/com/woowacourse/thankoo/organization/domain/OrganizationQueryRepository.java
Labels: backend, refactor

#581 fix: dto에 toString 재정의
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/presentation/dto/AdminLinkResponse.java
  backend/src/main/java/com/woowacourse/thankoo/admin/qrcode/presentation/dto/AdminSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/application/dto/AdminCouponSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/alarm/application/AlarmEventListener.java
  backend/src/main/java/com/woowacourse/thankoo/common/dto/AlarmEvent.java
  backend/src/main/java/com/woowacourse/thankoo/common/dto/TimeResponse.java
  backend/src/main/java/com/woowacourse/thankoo/common/exception/GlobalControllerAdvice.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponCommand.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponSelectCommand.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/application/dto/CouponUseCommand.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartRequest.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartResponses.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/dto/MeetingMessage.java
  backend/src/main/java/com/woowacourse/thankoo/meeting/application/dto/MeetingQueryCondition.java
  backend/src/main/java/com/woowacourse/thankoo/organization/presentation/dto/OrganizationResponse.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/dto/CouponSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/dto/SerialCodeRequest.java
Labels: bug, backend

#583 refactor: 쿠폰 조회 API 응답 Body에 modifiedAt을 추가한다.
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/CouponQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/domain/MemberCoupon.java
  backend/src/main/java/com/woowacourse/thankoo/coupon/presentation/dto/CouponResponse.java
  backend/src/test/java/com/woowacourse/thankoo/coupon/presentation/CouponControllerTest.java
Labels: backend, refactor

#588 feat: api fetch에 대한 suspense와 errorboundary를 추가한다.
  frontend/src/apis/queryClient.ts
  frontend/src/components/@shared/Button.tsx
  frontend/src/components/@shared/ChoiceSlider.tsx
  frontend/src/components/EnterCouponContent/ConfirmCouponContentModal.tsx
  frontend/src/components/Hearts/Members.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/components/Meeting/ListViewMeetings.tsx
  frontend/src/components/Profile/ProfileInfo.tsx
  frontend/src/components/Reservations/ListReservationItem.tsx
  frontend/src/components/Reservations/ListViewReservation.tsx
  frontend/src/components/Reservations/ListViewReservations.tsx
  frontend/src/components/SelectReceiver/ListViewUsers.tsx
  frontend/src/errors/CustomErrorBoundary.tsx
  frontend/src/errors/ErrorFallBack.tsx
  frontend/src/hooks/@queries/coupon.ts
  frontend/src/hooks/@queries/meeting.ts
  frontend/src/hooks/EnterCouponContent/useEnterCouponContent.ts
  frontend/src/hooks/Hearts/useHeartsMembers.tsx
  frontend/src/hooks/Main/useGridViewCoupons.ts
  frontend/src/hooks/Main/useMain.ts
  frontend/src/hooks/Profile/useUserProfile.ts
  frontend/src/hooks/Reservations/useListReservationItem.ts
  frontend/src/hooks/Reservations/useListViewReservations.ts
  frontend/src/hooks/Reservations/useReservations.ts
  frontend/src/hooks/SelectReceiver/useListViewUsers.ts
  frontend/src/hooks/SelectReceiver/useSelectReceiver.ts
  frontend/src/index.tsx
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Hearts.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Meetings.tsx
  frontend/src/pages/Reservations.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/pages/UserProfile.tsx
Labels: feature, frontend

#590 refactor: 모달 애니메이션을 부드럽게 변경한다
  frontend/src/components/Main/CouponDetail.tsx
Labels: frontend, refactor

#591 feat: db replication을 구현한다.
  backend/src/main/java/com/woowacourse/thankoo/common/config/DataSourceConfig.java
  backend/src/main/java/com/woowacourse/thankoo/common/config/ReplicationDataSourceConfig.java
  backend/src/main/java/com/woowacourse/thankoo/common/datasource/DataSourceType.java
  backend/src/main/java/com/woowacourse/thankoo/common/datasource/ReplicationRoutingDataSource.java
Labels: feature, backend

#587 fix: QA 중 나온 오류를 수정한다.
  frontend/src/components/@shared/Modal/ModalWrapper.tsx
  frontend/src/components/Profile/SignOutButton.tsx
  frontend/src/hooks/@queries/organization.ts
  frontend/src/pages/EnterCouponContent.tsx
  frontend/src/pages/Main.tsx
  frontend/src/pages/Organization.tsx
  frontend/src/pages/SelectReceiver.tsx
  frontend/src/routes/AccessController.tsx
Labels: frontend, fix

#593 feat: 즉시사용인 경우 즉시 사용을 누른 시간을 보여주도록 변경
  frontend/src/components/@shared/PageSlider.tsx
  frontend/src/components/Main/CouponDetail.reservation.tsx
  frontend/src/components/Main/GridViewCoupons.tsx
  frontend/src/mocks/dummyData.ts
  frontend/src/types/coupon.ts
  frontend/src/utils/date.ts
Labels: feature, frontend

#600 fix: organizationid로 직접 접근하는 경우에 발생하던 오류를 수정한다.
  frontend/src/constants/routes.ts
  frontend/src/pages/Hearts.tsx
  frontend/src/pages/OrganizationsAccess.tsx
  frontend/src/routes/AccessController.tsx
  frontend/src/routes/Router.tsx
Labels: frontend, fix

#599 fix: 잘못된 날짜 포매팅으로 인한 오류 수정
  frontend/src/hooks/@queries/meeting.ts
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
Labels: frontend, fix

#603 fix: create-reservation 페이지 접근 시 에러가 발생하던 오류를 수정한다.
  frontend/src/hooks/@queries/coupon.ts
Labels: frontend, fix

#607 fix: 최종 QA 수정사항 반영
  frontend/src/components/Hearts/Members.tsx
  frontend/src/hooks/CreateReservation/useCreateReservation.ts
  frontend/src/hooks/Hearts/useHeartsMembers.tsx
  frontend/src/hooks/SelectReceiver/useListViewUsers.ts
  frontend/src/pages/CreateReservation.tsx
Labels: frontend, fix

#611 refactor: coupon serial의 api를 변경한다.
  backend/src/main/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryService.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/CouponSerialService.java
  backend/src/main/java/com/woowacourse/thankoo/serial/application/dto/CouponSerialRequest.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerialMember.java
  backend/src/main/java/com/woowacourse/thankoo/serial/domain/CouponSerialQueryRepository.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/CouponSerialController.java
  backend/src/main/java/com/woowacourse/thankoo/serial/presentation/dto/CouponSerialResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/CouponSerialAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/CouponSerialAssured.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/application/AdminCouponSerialQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/admin/serial/domain/AdminCouponSerialQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/application/CouponSerialQueryServiceTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/domain/CouponSerialQueryRepositoryTest.java
  backend/src/test/java/com/woowacourse/thankoo/serial/presentation/CouponSerialControllerTest.java
Labels: backend, refactor

#612 fix: QR code 로 쿠폰 API 변경점을 반영한다.
  frontend/src/apis/axios.ts
  frontend/src/components/Main/CouponDetail.tsx
  frontend/src/components/Main/QRCouponRegisterModal.tsx
  frontend/src/errors/CustomErrorBoundary.tsx
  frontend/src/errors/ErrorFallBack.tsx
  frontend/src/hooks/useQRCoupon.tsx
Labels: frontend, fix

#616 feat: 콕 찌르기 나와 상대가 주고 받은 단건 기록을 반환한다.
  backend/src/main/java/com/woowacourse/thankoo/heart/application/HeartService.java
  backend/src/main/java/com/woowacourse/thankoo/heart/application/dto/HeartSelectCommand.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/HeartController.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartExchangeResponse.java
  backend/src/main/java/com/woowacourse/thankoo/heart/presentation/dto/HeartResponse.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/HeartAcceptanceTest.java
  backend/src/test/java/com/woowacourse/thankoo/acceptance/builder/HeartAssured.java
  backend/src/test/java/com/woowacourse/thankoo/heart/presentation/HeartControllerTest.java
Labels: feature, backend

#620 docs: README에 소개 글을 작성한다.
  README.md
Labels: documentation

#621 v1.2.4 배포
  frontend/src/hooks/Hearts/useHeartsMembers.tsx
Labels: frontend, fix

#633 refactor: Component 폴더에 있는 컴포넌트의 type을 컨벤션에 맞게 수정한다.
  frontend/package.json
  frontend/src/components/@shared/ChoiceSlider.tsx
  frontend/src/components/@shared/ConditionalViewer.tsx
  frontend/src/components/@shared/CouponLayout.tsx
  frontend/src/components/@shared/Dimmer.tsx
  frontend/src/components/@shared/Input.tsx
  frontend/src/components/@shared/LongButton.tsx
  frontend/src/components/@shared/Modal.tsx
  frontend/src/components/@shared/Modal/BottomSheet.tsx
  frontend/src/components/@shared/Modal/ModalWrapper.tsx
  frontend/src/components/@shared/ProfileIcon.tsx
  frontend/src/components/@shared/Spinner/SimpleSpinner.tsx
  frontend/src/components/@shared/TabsNav.tsx
  frontend/src/components/@shared/Time.tsx
  frontend/src/components/@shared/toast/ToastItem.tsx
  frontend/src/components/PageButton/CouponListPageButton.tsx
  frontend/src/components/PageButton/HeartPageButton.tsx
  frontend/src/components/PageButton/MeetingPageButton.tsx
  frontend/src/components/PageButton/ReservationPageButton.tsx
  frontend/src/components/PageButton/SendCouponPageButton.tsx
  frontend/src/hooks/@queries/profile.ts
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/useQRCoupon.tsx
  frontend/src/mocks/dummyData.ts
  frontend/src/pages/CreateReservation/components/ConfirmReservationModal.tsx
  frontend/src/pages/CreateReservation/hooks/useCreateReservation.ts
  frontend/src/pages/EnterCouponContent/components/ConfirmCouponContentModal.tsx
  frontend/src/pages/EnterCouponContent/hooks/useEnterCouponContent.ts
  frontend/src/pages/Hearts/components/ListViewHeartSkeleton.tsx
  frontend/src/pages/Hearts/hooks/useHeartsMembers.tsx
  frontend/src/pages/Main/components/QRCouponRegisterModal.tsx
  frontend/src/pages/Main/hooks/useCouponDetail.ts
  frontend/src/pages/Meetings/components/ListViewMeetings.tsx
  frontend/src/pages/Profile/components/SelectProfileImgModal.tsx
  frontend/src/recoil/atom.ts
  frontend/src/types/api.ts
  frontend/src/types/coupon.ts
  frontend/src/types/meeting.ts
  frontend/src/types/user.ts
Labels: frontend, refactor
